<% if @over_ten %>
  <%= link_to "Show Previous", "?m=all" %>
<% end %>
<% oppo = User.find(@opponent) %>
<h2>Message With <strong style="color: darkorange"> <%= oppo.username %> </strong></h2>
<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class="item">
        <div class="content">
          <div class="header">
            <% if user.id == current_user.id %>
              <strong>You</strong> <%= message.message_time %>
            <% else %>
              <strong style="color: darkorange"><%= user.username %>></strong> <%= message.message_time %>
            <% end %>
          </div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if Block.exists?(:user_id => @opponent, :name => current_user.username, :category => "User") %>
  <h3>Sorry seems that this user have blocked you...</h3>
<% else %>
  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <div>
      <%= f.submit "Send", class: "ui blue labeled submit icon button" %>
    </div>
  <% end %>
  <br>
  <%= link_to "view this user", view_user_path(oppo) %>
<% end %>

<br>
<%= link_to 'back', conversations_path %>
