<h1>Profile</h1>
<p>
  <strong>Name:</strong>
  <%= @profile.Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.Email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.Phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.Bio %>
</p>

<% if @profile.picture.attached? %>
  <img src="<%=(url_for(@profile.picture))%>"
  height="200">
<% end %>

<br>
<%= link_to 'Edit', edit_user_profile_path(@profile) %>
<%= link_to 'Back', '/welcome' %>