<h1>Profile</h1>
<p>
  <strong>Name:</strong>
  <%= @profile.Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.Email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.Phone %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.Bio %>
</p>

<%= link_to 'Edit', edit_user_profile_path %>
<%= link_to 'Destroy(Do not click 会有bug)', user_profile_url(@profile) %>