<h1>Profile</h1>
<p>
  <strong>Name:</strong>
  <%= @profile.Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.Email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.Phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.Bio %>
</p>

<p>
  <strong><%= link_to "Followings", followings_index_path%>:</strong>
  <%= @profile.user.followings.length %>
</p>

<p>
  <strong><%= link_to "Followers", followings_follower_path(@profile.user)%>:</strong>
  <%= Following.where(:name => @profile.Name, :category => "User").count %>
</p>

<br><br>
<% @user = User.find_by(username: current_user.username) %>
<%= link_to 'My interactions', interactions_show_path %>
<br>
<%= link_to 'Edit', edit_user_profile_path(@profile) %>
<%= link_to 'Back', '/welcome' %>
<br>