<h1><%= @profile.Name %>'s Profile</h1>
<p>
  <strong>Name:</strong>
  <%= @profile.Name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.Bio %>
</p>


<%= link_to 'Back to Topic', topics_path %>
<%= link_to 'Follow', follow_user_user_following_path(:name => @profile.Name, :category => "User") %>
<%= link_to 'Userline', userline_user_path(@profile.user) %>