<% @user = User.find_by(:username => @profile.Name) %>
<% if @user.id != current_user.id and Block.exists?(:user_id => @user.id, :name => current_user.username, :category => "User") %>
  <h3>Sorry, seems that you have been blocked by this user, try to be nice!</h3>
  <form>
    <input type="button" value="Go Back" onclick="history.go(-1)">
  </form>
<% else %>


  <%@followings = current_user.followings %>
  <%@temp = 0%>


<p>
  <% if @profile.picture.attached? %>
    <img src="<%=(url_for(@profile.picture))%>"
    height="200">
  <% end %>
</p>


  <% for j in 0..@followings.length - 1%>
    <%if @followings[j].name == @user.username%>
      <% @temp = 1 %>
    <%end %>
  <%end %>


<% if @profile.privacy != "None" %>
    <% if @profile.privacy == "Everyone" or ( @profile.privacy == "Followers" and @temp == 1) %>
  <h1><%= @profile.Name %>'s Profile</h1>
  <p>
    <strong>Name:</strong>
    <%= @profile.Name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @profile.gender %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= @profile.Bio %>
  </p>

    <%else%>
    <p>You donnot have the permission to see this user's profile</p>
      <%end %>
  <%else%>
    <p>You donnot have the permission to see this user's profile</p>
<%end %>


  <% @user = User.find_by(:username => @profile.Name) %>
  <%= link_to 'Back to Topic', topics_path %>
  <% if @user.id != current_user.id and !Following.exists?(:user_id => current_user.id, :name => @user.username, :category => "User") %>
    <% if @user.id != current_user.id and !Block.exists?(:user_id => current_user.id, :name => @user.username, :category => "User") %>
      |
      <%= link_to 'Follow', follow_user_user_following_path(:name => @profile.Name, :category => "User") %>
    <% end %>
  <% end %>
  <br>
  <%= link_to 'Userline', userline_user_path(@profile.user) %> |
  <%= link_to 'Interactions', view_user_interaction_path(@profile.user) %> |
  <%= link_to 'Followings', view_following_path(@profile.user) %>
  <br>
  <% if @user.id != current_user.id and !Block.exists?(:user_id => current_user.id, :name => @user.username, :category => "User") %>
    <%= link_to 'Block', block_user_user_block_path(:name => @profile.Name, :category => "User") %>
  <% end %>
<% end %>