<title> AwesomeBlogLoginPage </title>
<% if logged_in? %>
  <% @user = current_user %>
  <% @following = @user.followings %>


  <h1 style="text-align: center">Here you are, <%= current_user.username %></h1>
  <br><br><br>
  <% if @following[0] != nil %>
    <h3 >Today's content</h3>
  <table style="text-align: center">
      <tr>
        <th>Tittle</th>
        <th>Topic</th>
        <th>Posted at</th>
        <th>User</th>
      </tr>
    <% @post = Post.all.order(:updated_at).reverse_order %>
    <% @post.each do |post| %>
      <% if Following.exists?(:user_id => @user.id, :name => post.author, :category => "User") or Following.exists?(:user_id => @user.id, :name => post.topic, :category => "Topic") %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.topic %></td>
            <td><%= post.created_at %>
              <% if post.anonymous == 1 %>
              <td>Anonymous
            <% else %>
              <td><%= post.author %>
            <% end %>
            <td><%= link_to 'Show', post_path(post) %></td>
          </tr>
      <% end %>
    <% end %>

  </table>
  <% else %>

    <h3 style="text-align: center">You haven't followed anything yet...</h3>
  <% end %>

<% end %>
