

<p>
  <strong>Topic Name:</strong> <br>
  <%= @topic.title %>
</p>

<p>
  <strong>Topic Description:</strong> <br>
  <%= @topic.description %>
</p>

<p>
  <strong>Topic Post:</strong> <br>

</p>



<table>
  <tr>
  <th>Title</th>
  <th>Text</th>
  </tr>

  <%@post = Post.where(:topic => @topic.title)%>
  <% for i in 0..Post.where(:topic => @topic.title).to_a.pluck(:title, :text).length - 1%>
    <% @user = User.find_by(username: @post.pluck(:author)[i]) %>
    <% unless Block.exists?(:user_id => @user.id, :name => current_user.username, :category => "User") or Block.exists?(:user_id => current_user.id, :name => @post.pluck(:author)[i], :category => "User")%>
      <tr>
        <td> <%= @post.pluck(:title)[i] %></td>
        <td> <%= @post.pluck(:title)[i] %></td>
        <td> <%= link_to 'Check', post_path(@post.pluck(:id)[i]) %> </td>
      </tr>
    <% end %>
  <% end %>

  </table>

<p></p>
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
<% unless Following.exists?(:user_id => current_user.id, :name => @topic.title, :category => "Topic") %>
  <% unless Block.exists?(:user_id => current_user.id, :name => @topic.title, :category => "Topic") %>
    |
    <%=  link_to 'Follow', follow_user_following_path(:name => @topic.title, :category => "Topic") %>
  <% end %>
<% end %>
<% unless Block.exists?(:user_id => current_user.id, :name => @topic.title, :category => "Topic")%>
  |
  <%= link_to 'Block', block_user_block_path(:name => @topic.title, :category => "Topic") %>
<% end %>

