<h1>Blocked List</h1> <br><br><br><br><br>


<table>
  <% @user = User.find_by(username: current_user.username) %>
  <% if Block.exists?(:user_id => @user.id, :category => "User") %>
    <h2>Blocked Users</h2>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Blocked at</th>
    </tr>
  <% else %>
    <h2>You haven't Blocked any users.</h2>
  <% end %>

  <% @block.each do |block| %>
    <% @user = User.find_by(username: current_user.username) %>

    <% if @user.id == block.user_id and block.category == "User"%>
      <% @target = User.find_by(username: block.name) %>
      <tr>
        <td><%= link_to block.name, view_user_path(@target) %></td>
        <td><%= block.category %></td>
        <td><%= block.created_at %>
        <td><%= link_to 'Unblock', block_path(block),
                        method: :delete,
                        data: { confirm: 'Are you sure about that?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<br><br><br><br>
<table>
  <% if Block.exists?(:user_id => @user.id, :category => "Topic") %>
    <h2>Blocked Topics</h2>
    <tr>
      <th>Topic Name</th>
      <th>Category</th>
      <th>Followed at</th>
    </tr>
  <% else %>
    <h2>You haven't blocked any topics.</h2>
  <% end %>

  <% @block.each do |block| %>
    <% @user = User.find_by(username: current_user.username) %>
    <% if @user.id == block.user_id and block.category == "Topic"%>
      <% @topic = Topic.find_by(title: block.name) %>
      <tr>
        <td><%= link_to block.name, topic_path(@topic) %></td>
        <td><%= block.category %></td>
        <td><%= block.created_at %>
        <td><%= link_to 'Unblock', block_path(block),
                        method: :delete,
                        data: { confirm: 'Are you sure about that?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>
