
<%= form_for @post do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :topic %><br>
    <%= f.text_field :topic %>
  </p>


  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <dl class="form anonymous">
    <%= check_box_tag :anonymous, 1, params[:anonymous] %>
    <%= label_tag "Anonymous" %>
  </dl>

  <!-- <tr>
  <td width="15%"><b>image</b></td>
  <td><%= file_field 'post', 'picture' %></td>
  </tr> -->

<%= f.label "Post picture" %>
<%= f.file_field :picture %><br>

  <p>
    <b>Privacy( Who can view my Post? )</b><br />
      <%= f.radio_button :privacy, 'Everyone' %>
      <%= f.label :privacy, 'Everyone', :value => 'every' %>
      <%= f.radio_button :privacy, 'None' %>
      <%= f.label :privacy, 'None', :value => 'none' %>
      <%= f.radio_button :privacy, 'Follower Only' %>
      <%= f.label :privacy, 'Follower Only', :value => 'follow' %>
  </p>

  <p>
    <%= f.submit %>
  </p>



<% end %>
