<h1>User Posts</h1>
<%= link_to 'Back to topic', topics_path %><br><br><br><br><br>
<%= link_to 'Make a post', new_post_path %>

<table>
  <% if @post[0] != nil %>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Posted at</th>
    <th>User</th>
    <th>Likes</th>
  </tr>
  <% end %>

  <% @post.each do |post| %>
    <% @user = User.find_by(username: current_user.username) %>
    <% if @user.username == post.author %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.text %></td>
        <td><%= post.created_at %>
        <% if post.anonymous == 1 %>
        <td>Anonymous
          <% else %>
          <td><%= post.author %>
          <% end %>
        <td><%= post.get_upvotes.size %></td>
        <td><%= link_to 'Show', post_path(post) %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post_path(post),
                      method: :delete,
                      data: { confirm: 'Are you sure about that?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>
