<p>
  <strong>Topic:</strong>
  <%= @post.topic %>
</p>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
</p>
  <p>
   <%= raw Rinku.auto_link(@post.text, mode = :all)%>
  </p>

<p>
  <strong>Posted by:</strong>
  <% if @post.anonymous %>
    <td>Anonymous
  <% else %>
    <td><%= link_to @post.author, users_view_path(@user)%>
  <% end %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

